/*.card {
  background: gray;
  padding: 50px;
}*/

@import 'include/header';
@import 'include/footer';
@import 'include/index';
@import 'include/post';


/* button */
.add_content {
  width: 15vw;
  align-items: center;

  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #AA1B2D;
  border-radius: 30px;
  padding: 0;
  margin: 20px auto;
}

/* content */
main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* posts section */
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5vh;
}

h1 {
  margin-top: 20px;
  padding-left: 2%;
}

.postForm {
  padding-left: 2%;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 50px;

  label {
    width: 100vw;
  }

  textarea {
    width: 80%;
    height: 100px;
  }
}
