* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

@import 'include/header.scss';
@import 'include/footer.scss';
@import 'include/home.scss';

// Pour lancer le scss une fois : "npm run scss"
//  Pour écouter chaque changements : "npm run scss-w"
//
//  Avantages du scss :
//  On peut include d'autres fichiers, utiliser des "mixins" (c'est des gens de fonctions), indenter des propriétés :
//
//  .carte {
//    width: 100%;
//    .photo {
//      opacity: 0.5;
//    }
//
//    .texte {
//      color: red;
//    }
//  }
//
//  ça correspond à
//
//  .carte .photo {
//    opacity : 0.5;
//  }
//  .carte .text {
//    color : red;
//  }
//
//  Donc c'est pas mal pratique !














