* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


// Pour lancer le scss une fois : "npm run scss"
//  Pour écouter chaque changements : "npm run scss-w"
//
//  Avantages du scss :
//  On peut include d'autres fichiers, utiliser des "mixins" (c'est des gens de fonctions), indenter des propriétés :
//
//  .carte {
//    width: 100%;
//    .photo {
//      opacity: 0.5;
//    }
//
//    .texte {
//      color: red;
//    }
//  }
//
//  ça correspond à
//
//  .carte .photo {
//    opacity : 0.5;
//  }
//  .carte .text {
//    color : red;
//  }
//
//  Donc c'est pas mal pratique !

*{
  margin: 0;
}

body {
  color: #707070;
  font-family: "Segoe UI";
  a {
    text-decoration: none;
    color: #707070;
  }
  a:hover {
    color:#424242
  }
  a:active {
    color: #AA1B2D;
  }
}


/* typographie */
@font-face {
  font-family: "Segoe UI";
  src:
          url("/assets/font/segeoui.ttf") format("ttf"),
}






