/* posts section */
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5vh;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  border: 1px solid #AA1B2D;
  margin: 1vw 1vh;

  .content{
    img {
      width: 100%;
    }
  }

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 1vw;

    .hour {
      display: flex;
      align-items: center;
    }

    .right {
      display: flex;
      align-items: center;

      .pictureProfil {
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 8px;
      }
    }


  }

  .post_picture {
    max-width: 23vw;
    margin: 1vh 1vw;
    /* max-height: auto; */
  }


  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1vh 1vw;

    .tags {
      display: flex;
      flex-direction: row;
      justify-content: start;
      flex-wrap: wrap;

      .tag {
        display: flex;
        justify-content: center;
        padding: 1vh 1vw;
        border: 1px solid #AA1B2D;
        border-radius: 30px;
        width: auto;
        align-items: center;
        margin: auto;

      }
    }

    .post_button {
      display: flex;
      justify-content: end;
      margin: 1vh 1vw;

      .react {
        padding: 0;
        margin: 2%;

        .react img {
          width: 1.5vw;
        }
      }
    }
  }

  .description {
    margin: 2vh 1vw;
  }
}
