footer {
  background-color: #707070;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh 6vw;
  text-align: center; }
  footer .copyright {
    margin: auto;
    font-style: italic; }
